.form_contas {
  background-color: rgba(128, 128, 128, 0.158);
  padding: 10px;
}

.pagar-conta {
  cursor: pointer;
}

.hover-vermelho:hover, .hover-vermelho *:hover {
  cursor: pointer;
  color: red;
}