{% extends 'base.html' %}

{% block content %}


<div>
  Valor das contas deste mês: R${{ valor_contas_mes }}
</div>

<div class="container-all" style="display: grid; grid-template-columns: repeat(3, auto);">
  <div class="container-contas-mes text-start">
    <h4>Contas este mês(Todas)</h4>
    <div class="card-container d-flex flex-column align-items-start contas-mes-todas">
      <p>Esconder pagas? <input type="checkbox" class="form-check-input esconder-pagas" /></p>
      {% for conta in contas_mes %}
      <div data-status="{{conta.status}}" class="card m-2 
        {% if conta.status == 'À pagar' %} bg-info 
        {% elif conta.status == 'Paga' %} bg-success
        {% elif conta.status == 'Vencida' %} bg-danger
        {% elif conta.status == 'Vencendo' %} bg-warning
        {% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{ conta.descricao }}</h5>
          <p class="card-text">Data de Vencimento: {{ conta.data_vencimento }}</p>
          <p class="card-text">Valor: R${{conta.valor}}</p>
          <p class="card-text">Situação: {{conta.status}}</p>
          <p class="card-text text-end"><a data-descricao="{{ conta.descricao }}"
            data-id_conta="{{ conta.id }}"
            data-status = "{{ conta.status }}"
            data-data_vencimento="{{conta.data_vencimento}}"
            data-valor="{{conta.valor}}" class="pagar-conta" >{% if conta.status != 'Paga' %}<i class="bi bi-check2-square"></i>{% endif %}</a></p>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
  <div class="container-contas-mes text-start">
    
    <div class="card-container d-flex flex-column align-items-start">
      <h4>Contas este mês(Vencendo)</h4>
      {% for conta in contas_mes %}
      {% if conta.status == 'vencendo' %}
      <div class="card m-2 
        {% if conta.status == 'À pagar' %} bg-info 
        {% elif conta.status == 'Paga' %} bg-success
        {% elif conta.status == 'Vencida' %} bg-danger
        {% elif conta.status == 'Vencendo' %} bg-warning
        {% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{ conta.descricao }}</h5>
          <p class="card-text">Data de Vencimento: {{ conta.data_vencimento }}</p>
          <p class="card-text">Valor: R${{conta.valor}}</p>
          <p class="card-text">Situação: {{conta.status}}</p>
          <p class="card-text text-end"><a data-descricao="{{ conta.descricao }}"
            data-id_conta="{{ conta.id }}"
            data-data_vencimento="{{conta.data_vencimento}}"
            data-valor="{{conta.valor}}" class="pagar-conta" >{% if conta.status != 'Paga' %}<i class="bi bi-check2-square"></i>{% endif %}</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      
    </div>
  </div>
  <div class="container-contas-mes text-start">
    <h4>Contas este mês(Vencidas)</h4>
    <div class="card-container d-flex flex-column align-items-start">
      {% for conta in contas_mes %}
      {% if conta.status == 'vencida' %}
      <div class="card m-2 
        {% if conta.status == 'À pagar' %} bg-info 
        {% elif conta.status == 'Paga' %} bg-success
        {% elif conta.status == 'Vencida' %} bg-danger
        {% elif conta.status == 'Vencendo' %} bg-warning
        {% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{ conta.descricao }}</h5>
          <p class="card-text">Data de Vencimento: {{ conta.data_vencimento }}</p>
          <p class="card-text">Valor: R${{conta.valor}}</p>
          <p class="card-text">Situação: {{conta.status}}</p>
          <p class="card-text text-end"><a data-descricao="{{ conta.descricao }}"
            data-id_conta="{{ conta.id }}"
            data-data_vencimento="{{conta.data_vencimento}}"
            data-valor="{{conta.valor}}" class="pagar-conta" >{% if conta.status != 'Paga' %}<i class="bi bi-check2-square"></i>{% endif %}</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {  

    $('.esconder-pagas').change(function verificar_pagas() {
      let checkbox = $(this)
      $('.contas-mes-todas > div').each(function(index, div) {
        if ($(checkbox).prop('checked')) {
          if ($(div).attr('data-status') === 'Paga') {
            $(div).hide()
          }
        } else {
          $(div).show()
        }
      })
    })

  })
</script>

{% endblock content %}