{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary adicionar_conta">Adicionar uma conta</a>
<div class="d-none form-contas d-flex justify-content-center">
  {% include 'contas_form.html' %}
</div>
<table>
</table>

<script>
  $(document).ready(function () {

    $('.adicionar_conta').click(function () {
      $('.form-contas').toggleClass('d-none')
      $('.form_contas input').val('')
      $('.form_contas input').prop('checked', false)
      $('input.numero_repeticao').prop('required', false)
      $('.numero_repeticao').addClass("d-none")
    })

    $('#recorrente').change(function () { 
      $('.numero_repeticao').toggleClass("d-none")
      if ( !$('input.numero_repeticao').prop('required')) {
        $('input.numero_repeticao').prop('required', true)
      } else {
        $('input.numero_repeticao').prop('required', false)
      }
     
      
    })

    $('.form_contas').submit(function (e) { 
        e.preventDefault()
        if ($("#recorrente").prop('checked')) {
          $(this).val(true)
        } else {
          $(this).val(false)
        }
        $.ajax({
          data: {
            data_vencimento: $('#data_vencimento').val(),
            valor: $("#valor").val(),
            recorrente: $("#recorrente").val(),
            numero_repeticao: $("#numero_repeticao").val(),
            descricao: $("#descricao").val()
          },
          type: "POST",
          url: "{{url_for('adicionar_conta')}}"
        })
    })

  })
  
</script>

{% endblock content %}