{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary adicionar_conta">Adicionar uma conta</a>
<div class="d-none form-contas d-flex justify-content-center">
  {% include 'contas_form.html' %}
</div>
<table id="contas_table">
  <thead>
    <tr>
      <th></th>
      <th class="text-center">DATA</th>
      <th class="text-center">DESCRIÇÃO</th>
      <th class="text-center">VALOR</th>
      <th class="text-center">STATUS</th>
      <th class="text-center">DATA PAGAMENTO</th>
      <th class="text-center">PAGAR</th>
    </tr>
  </thead>
  <tbody class="tbody-contas">
    {% for conta in contas %}
      <tr class="
      {% if conta.status == 'À pagar' %} bg-info 
      {% elif conta.status == 'Paga' %} bg-success
      {% elif conta.status == 'Vencida' %} bg-danger
      {% elif conta.status == 'Vencendo' %} bg-warning
      {% endif %}">
        <td><a data-descricao="{{ conta.descricao }}"
          data-id_conta="{{ conta.id }}"
          data-status = "{{ conta.status }}"
          data-data_vencimento="{{conta.data_vencimento}}"
          data-valor="{{conta.valor}}" class="deletar_conta text-dark hover-vermelho"><i class="bi bi-trash-fill"></i></a></td>
        <td>{{conta.data_vencimento}}</td>
        <td>{{conta.descricao}}</td>
        <td>R${{conta.valor}}</td>
        <td>{{conta.status}}</td>
        <td>{{ conta.data_pagamento }}</td>
        <td><a data-descricao="{{ conta.descricao }}"
               data-id_conta="{{ conta.id }}"
               data-status = "{{ conta.status }}"
               data-data_vencimento="{{conta.data_vencimento}}"
               data-valor="{{conta.valor}}" class="pagar-conta" >{% if conta.status != 'Paga' %}<i class="bi bi-check2-square"></i>{% endif %}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {

    $('#contas_table').DataTable({
      order: [[1, 'asc']]
    });

    $('.deletar_conta').click(function () {
      let informacoes_conta = [$(this).attr('data-descricao'), $(this).attr('data-data_vencimento'), $(this).attr('data-valor')]
      let id_conta = $(this).attr('data-id_conta')
      let confirmar = window.confirm(`Certeza que deseja DELETAR a conta? \nConta: ${informacoes_conta[0]} \nData: ${informacoes_conta[1]} \nValor: R$${informacoes_conta[2]} `)
      if (confirmar) {
        $.ajax({
          data: {
            id_conta: id_conta,
          },
          type: "GET",
          url: "{{url_for('deletar_conta')}}"
        }).done(() => {
          document.location.reload()
        })
      }
    })

    $('.adicionar_conta').click(function () {
      $('.form-contas').toggleClass('d-none')
      $('.form_contas input').val('')
      $('.form_contas input').prop('checked', false)
      $('input.numero_repeticao').prop('required', false)
      $('.numero_repeticao').addClass("d-none")
    })

    $('#recorrente').change(function () { 
      $('.numero_repeticao').toggleClass("d-none")
      $('.numero_repeticao').val("")
      if ( !$('input.numero_repeticao').prop('required')) {
        $('input.numero_repeticao').prop('required', true)
      } else {
        $('input.numero_repeticao').prop('required', false)
      }      
    })

    $('.form_contas').submit(function (e) { 
        e.preventDefault()
        if ($("#recorrente").prop('checked')) {
          $("#recorrente").val(true)
        } else {
          $("#recorrente").val(false)
        }
        console.log($("#recorrente").val())
        $.ajax({
          data: {
            data_vencimento: $('#data_vencimento').val(),
            valor: $("#valor").val(),
            recorrente: $("#recorrente").val(),
            numero_repeticao: $("#numero_repeticao").val(),
            descricao: $("#descricao").val()
          },
          type: "POST",
          url: "{{url_for('lista_contas')}}",
        }).done((data) => {
          document.location.reload()
        })
       
        function zerar_campos_contas() {
          $('#data_vencimento').val("")
          $("#valor").val("")
          $("#recorrente").val("")
          $("#numero_repeticao").val("")
          $("#descricao").val("")
        }
    })
  })
  
</script>

{% endblock content %}