{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary adicionar_conta">Adicionar uma conta</a>
<div class="d-none form-contas d-flex justify-content-center">
  {% include 'contas_form.html' %}
</div>
<table id="contas_table">
  <thead>
    <tr>
      <th>DATA</th>
      <th>DESCRIÇÃO</th>
      <th>VALOR</th>
      <th>STATUS</th>
      <th>DATA PAGAMENTO</th>
    </tr>
  </thead>
  <tbody>
    {% for conta in contas %}
      <tr>
        <td>{{conta.data_vencimento}}</td>
        <td>{{conta.descricao}}</td>
        <td>R${{conta.valor}}</td>
        <td>{% if conta.data_pagamento != None %}PAGO{% else %} À PAGAR{% endif %}</td>
        <td>conta</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {

    $('#contas_table').DataTable();

    $('.adicionar_conta').click(function () {
      $('.form-contas').toggleClass('d-none')
      $('.form_contas input').val('')
      $('.form_contas input').prop('checked', false)
      $('input.numero_repeticao').prop('required', false)
      $('.numero_repeticao').addClass("d-none")
    })

    $('#recorrente').change(function () { 
      $('.numero_repeticao').toggleClass("d-none")
      $('.numero_repeticao').val("")
      if ( !$('input.numero_repeticao').prop('required')) {
        $('input.numero_repeticao').prop('required', true)
      } else {
        $('input.numero_repeticao').prop('required', false)
      }      
    })

    $('.form_contas').submit(function (e) { 
        e.preventDefault()
        if ($("#recorrente").prop('checked')) {
          $("#recorrente").val(true)
        } else {
          $("#recorrente").val(false)
        }
        console.log($("#recorrente").val())
        $.ajax({
          data: {
            data_vencimento: $('#data_vencimento').val(),
            valor: $("#valor").val(),
            recorrente: $("#recorrente").val(),
            numero_repeticao: $("#numero_repeticao").val(),
            descricao: $("#descricao").val()
          },
          type: "POST",
          url: "{{url_for('lista_contas')}}"
        })
    })

  })
  
</script>

{% endblock content %}